<h4>商品新規登録</h4>
<%= form_with model: @item, url: "/admin/items", local:true do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td><label>商品画像</label></td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td><label>商品名</label></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><label>商品説明</label></td>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <td><label>ジャンル</label></td>
        <td><%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "ジャンルを選択してください"}) %></td>
      </tr>
      <tr>
        <td><label>レンタル料金</label></td>
        <td><%= f.text_field :price %>円</td>
      </tr>
      <tr>
        <td><label>在庫数</label></td>
        <td><%= f.number_field :stock, min: 1, max: 99 %></td>
      </tr>
      <tr>
        <td><label>商品ステータス</label></td>
        <td><%= f.radio_button :is_active, "レンタル可" %>レンタル可<%= f.radio_button :is_active, "レンタル不可" %>レンタル不可</td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "登録する", class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
