<h4><%= @customer.last_name %><%= @customer.first_name %>さんの顧客情報詳細</h4>
<div class="d-flex justify-content-end mt-5">
  <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
  <%= link_to "注文履歴一覧", admin_orders_path(customer_id: @customer.id), class: "btn btn-primary ml-3" %>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>会員ID</td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td>負担割合</td>
      <td><%= @customer.burden_ratio %></td>
    </tr>
    <tr>
      <td>顧客ステータス</td>
      <td><%= @customer.is_active %></td>
    </tr>
  </tbody>
</table>


<h4 class="mt-5">レンタル履歴</h4>
<table class="table mt-5">
  <thead>
    <tr>
      <th>商品</th>
      <th>数量</th>
      <th>レンタル期間</th>
      <th>月額</th>
      <th>ご請求額<br>（◯ヶ月分）</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% order.order_items.each do |order_item| %>
        <tr>
          <td>
            <%= link_to admin_item_path(order_item) do %>
              <%= order_item.item.name %>
            <% end %>
          </td>
          <td><%= order_item.amount %></td>
          <td>
            <%= order_item.created_at.to_s(:datetime_jp) %> 〜<br>
            <% if order_item.rental_status == "レンタル終了" %>
              <%= order_item.end_date.to_s(:datetime_jp) %>
            <% end %>
          </td>
          <td><%= subtotal(order_item.item.price, order_item.amount).to_s(:delimited) %></td>
          <td>
            <%= billing_amount(order_item).to_s(:delimited) %><br>
            (<%= rental_period(order_item) %>ヶ月分)
          </td>
          <td>
            <%= order_item.rental_status %><br>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="row d-flex justify-content-end">
  <table class="table mt-5 col-4">
    <tbody>
      <tr>
        <td>ご請求合計</td>
        <td><%= total_billing_amount(@orders).to_s(:delimited) %></td>
      </tr>
      <tr>
        <td><%= @customer.burden_ratio %>額</td>
        <td><%= copayment(total_billing_amount(@orders), @customer) %></td>
      </tr>
    </tbody>
  </table>
</div>