<h4>ご注文詳細</h4>

<h6>ご注文情報</h6>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% @order.order_items.each do |order_item| %>
      <% subtotal = order_item.item.price * order_item.amount %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.item.price %></td>
        <td><%= order_item.amount %></td>
        <td><%= subtotal %></td>
      </tr>
      <% total_price = total_price + subtotal %>
    <% end %>
  </tbody>
</table>

<h6>ご請求情報</h6>
<table class="table">
  <tbody>
    <tr>
      <td>合計金額</td>
      <td><%= total_price %></td>
    </tr>
    <tr>
      <td><%= @order.customer.burden_ratio %>額</td>
      <td><%= (total_price * @order.customer.burden_ratio.to_i * 0.1).floor %></td>
    </tr>
  </tbody>
</table>

<h6>ご注文者情報</h6>
<table class="table">
  <tbody>
    <tr>
      <td>ご注文者名</td>
      <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @order.customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @order.customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @order.customer.email %></td>
    </tr>
    <tr>
      <td>介護保険負担割合</td>
      <td><%= @order.customer.burden_ratio %></td>
    </tr>
  </tbody>
</table>