<h1>ご注文確認</h1>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% @cart_items.each do |cart_item| %>
      <% subtotal = cart_item.item.price * cart_item.amount %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= subtotal %></td>
      </tr>
      <% total_price = total_price + subtotal %>
    <% end %>
  </tbody>
</table>
<table class="table">
  <tbody>
    <tr>
      <td>合計金額</td>
      <td><%= total_price %></td>
    </tr>
    <tr>
      <td><%= current_customer.burden_ratio %>額</td>
      <td><%= (total_price * current_customer.burden_ratio.to_i * 0.1).floor %></td>
    </tr>
  </tbody>
</table>

<h4>ご注文者情報</h4>
<table class="table">
  <tbody>
    <tr>
      <td>ご注文者名</td>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
    <tr>
      <td>介護保険負担割合</td>
      <td><%= current_customer.burden_ratio %></td>
    </tr>
  </tbody>
</table>
<%= link_to "注文を確定する", '/orders', method: :post, class: "btn btn-success" %>