<h4 class="mb-5">ご注文詳細</h4>
<div class="row">
  <div class="col-9">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= subtotal(cart_item.item.price, cart_item.amount).to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <table class="table">
      <tbody>
        <tr>
          <td>合計金額</td>
          <td><%= total_price(@order.order_items).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td><%= current_customer.burden_ratio %>額</td>
          <td><%= copayment(total_price(@order.order_items), current_customer) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h5 class="mt-5 mb-3">ご注文者情報</h5>
<table class="table" style="width: 60%;">
  <tbody>
    <tr>
      <td>ご注文者名</td>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
    <tr>
      <td>介護保険負担割合</td>
      <td><%= current_customer.burden_ratio %></td>
    </tr>
  </tbody>
</table>