<table class="table mt-5">
  <thead>
    <tr>
      <th>商品レビュー</th>
    </tr>
  </thead>
  <tbody>
  <% if item.reviews.blank? %>
    <tr>
      <td><p>レビューがありません</p></td>
    </tr>
  <% end %>
    <% item.reviews.each do |review| %>
      <tr>
        <td>
          <div class="review-star" data-score="<%= review.rate %>"></div>
          <div class="mt-3">
            <p><%= review.comment %></p>
            <p><%= review.created_at %></p>
            <% if customer_signed_in? %>
              <% if review.customer_id == current_customer.id %>
                <%= link_to "編集", "/items/reviews/#{review.id}/edit" %>
                <%= link_to "削除", destroy_review_path(review.id, item_id: item.id), method: :delete, data: { confirm: '本当に削除しますか?' }, remote: true %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.review-star').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/',
    size: 36
  });
</script>